<%- include('partials/head')%>
<%- include('partials/navbar')%>

    <h1>Edit Form</h1>
    <form action="/products/<%= product._id %>?_method=PUT" method="POST">
        <label>Product Name: </label>
        <input name="name"value="<%= product.name %>">
        <br>
        <br>
        <label>Price: </label>
        <input name="price" value="<%= product.price%>">
        <br>
        <br>

        <label>Category:</label>
        <select name="category">
            <% for (option of category) { %>
                <option value="<%= option %>"><%= option %></option>
            <% } %>
        </select>
        <br>
        <br>
        <button>Update</button>
    </form>
<%- include('partials/footer')%>