<%- include('partials/head') %>

<%- include('partials/navbar') %>
<h1>Your number is <%= rand %></h1>
<!-- <% if (rand % 2 === 0){ %>
    <h2>That was an even number!</h2>
<% } else { %>
    <h2>That was an odd number!</h2>
<% } %> -->

<h2> That was an <%= rand % 2 === 0 ? "even" : "odd" %> number!</h2>

<%- include('partials/footer') %>


