<%- include('partials/head') %>
<%- include('partials/navbar') %>

<div class="container">
    <h1>Browsing the <%= name %> subreddit</h1>
    <h2>Number of subscribers for this channel: <%= subscribers %></h2>
    <h3><%= description %></h3>

    <hr>
    <% for(let post of posts) { %>
        <article>
            <h4><%= post.title %> - <b> <%= post.author %></b></h4>
                <% if(post.img){ %>
                    <img src=<%= post.img %> class="rounded mx-auto d-block">
                <% } %>
        </article>
    <% } %>
</div>
<%- include('partials/footer') %>
