<% layout('layouts/boilerplate') %>

    <h1>Edit Your Campground</h1>
    <form action="/campgrounds/<%= camp._id %>?_method=PUT" method="POST" class="validateForm" novalidate> 
        <div class="new-form">
            <label class="form-label">Name: </label>
            <input 
                type="text" 
                id="title-input" 
                class="form-control"
                name="camp[title]" 
                placeholder="Camp Name"
                value="<%= camp.title %>"
                required>
            <div class="invalid-feedback">
                Please enter a valid camp name!
            </div>

            <label class="form-label">Location: </label>
            <input 
                type="text" 
                id="location-input" 
                class="form-control"
                name="camp[location]" 
                placeholder="City, State"
                value="<%= camp.location %>"
                required>
            <div class="invalid-feedback">
                Please enter a valid camp location!
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="description" id="description">Description: </label>
            <textarea
                type="text" 
                class="form-control"
                id="location-input" 
                rows="10"
                cols="20"
                name="camp[description]"
                required><%= camp.description %></textarea>
            <div class="invalid-feedback">
                Please enter a valid camp description!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="price" id="price">Price per Night: </label>
            <div class="input-group mb-3">
                <label class="input-group-text">$</label>
                <input
                    type="number" 
                    class="form-control"
                    id="location-input" 
                    name="camp[price]"
                    value="<%= camp.price %>"
                    step="0.01"
                    required>
                </input>
            <div class="invalid-feedback">
                Please enter a valid price!
            </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="img" id="img" >Image: </label>
            <input 
                type="text" 
                class="form-control" 
                id="img" 
                name="camp[img]"
                value="<%= camp.img %>"
                required>
            <div class="invalid-feedback">
                Please enter a valid img URL!
            </div>
        
        </div>
        <button class="btn btn-primary my-3">Update Campground</button>

        <a href="/campgrounds">Back to Campground</a>
    </form>
