<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= camp.title %></title>
</head>
<body>
    <h1><%= camp.title %></h1>
    <h3><%= camp.location %></h3>

    <form action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
        <button>Delete Campground</button>
    </form>
    <a href="/campgrounds/<%= camp._id %>/edit">Edit Camp Information</a>
    <a href="/campgrounds">Back</a>
</body>
</html>