<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Task</title>
</head>
<body>
    <h3>Task ID: <%= id %></h3>
    <h4>Date: <%= date %></h4>
    <p><b>Task: </b> <%= task %></p>
    <p>
        <b>Description: </b> <%= description %> 
        <a href="/todos/<%= id %>/edit">Edit</a></p>
    <form action="/todos/<%= id %>?_method=DELETE" method="POST">
        <button>Delete Task</button>
    </form>
    <a href="/todos">back</a>
</body>
</html>